.card {
    margin-right: 2%;
    margin-bottom: 2%;
}
.card .btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.card:hover {
    box-shadow:  2px 2px 2px 2px aqua, 4px 4px 4px 4px aqua;
}